﻿@model IEnumerable<EyeWitness.GUI.Identity.Models.UserModel>

@{
    ViewBag.Title = "searchUser";
}

<h2>searchUser @Html.Raw(ViewBag.isFollower)</h2>
<h2>Index</h2>
@using (Html.BeginForm())
{ <table>
        <tr>
            <td>
                <div>
                    Search by genre: @Html.TextBox("searchString")
                </div>
            </td>
            <td> <input type="submit" value="Search" id="submit" /> </td>
        </tr>
    </table> }

@if (Model != null)
{
<table class="table">
    <tr>
        <th>
        @Html.DisplayNameFor(model => model.avatar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>

        <td>
            <img src="@item.avatar" 
                 width="60" height="60">
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        
        <td>
            @Html.ActionLink("Follow!", "FollowUser", routeValues: new { idUserFollowed = item.Id }) 
          
        </td>
    </tr>
}

</table>
}