﻿@model EyeWitness.GUI.Identity.Models.CriteriaVoteViewModel

@using EyeWitness.GUI.Identity.Models;

@section stylesheets {
    <link rel="stylesheet" href="/Content/css/votecriteria.css" />
}

@section scripts {
    <script type="text/javascript" src="/Content/js/Chart.js"></script>
    <script>
        var data;
        var votesRemaining = 3;
        $(document).ready(function () {
            $('.collapsible').collapsible();

            $('#votes-remaining').html(votesRemaining);

        });
        var critIds = [];
        function vote(elt, critId) {
            $(elt).attr('disabled', 'true');
            critIds.push(critId);
            votesRemaining--;
            $('#votes-remaining').html(votesRemaining);

            if (votesRemaining == 0) {
                $.ajax({
                    url: '/Criteria/VoteForCriteria?catId=@Model.Category.Id&critId=' + critIds[0] + '&critId2=' + critIds[1] + '&critId3=' + critIds[2],
                    success: function (res) {
                        if (res == 'OK') {
                            console.log(res);
                            Materialize.toast('Vote submitted ! You will be redirected automatically.');
                            setTimeout(function() { window.location.pathname = "/" }, 2000);
                        } else Materialize.toast('Error during vote submission !');
                    }
                })
            }

        }
    </script>

    @{
        string labels = "";
        string datas = "";
        foreach (CriteriaViewModel c in Model.CriteriaModels)
        {
            labels += "\"" + c.Name + "\", ";
            datas += c.CurrentVotes + ", ";
        }
    }
    <script>
        data = {
            labels: [@Html.Raw(labels)],
            datasets: [
                {
                    label: "Votes per criteria for category : @Model.Category.name",
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(155, 159, 64, 0.2)',
                        'rgba(255, 150, 20, 0.2)',
                        'rgba(75, 230, 150, 0.2)',
                        'rgba(125, 54, 77, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(155, 159, 64, 1)',
                        'rgba(255, 150, 20, 1)',
                        'rgba(75, 230, 150, 1)',
                        'rgba(125, 54, 77, 1)'
                    ],
                    borderWidth: 1,
                    data: [@Html.Raw(datas)],
                }
            ]
        };
        $(document).ready(function () {
            var ctx = $("#barChart");
            var myBarChart = new Chart(ctx, {
                type: 'bar',
                data: data
            });
        });
    </script>

    @{
        int j = 0;
        foreach (CriteriaViewModel c in Model.CriteriaModels)
        {
            j++;
            <script>
                $(document).ready(function () {
                    data = {
                        labels: [
                            @Html.Raw("\" Others \", \"" + c.Name + "\"")
                        ],
                        datasets: [
                            {
                                data: [@Html.Raw(@Model.TotalVotes - c.CurrentVotes + ", " + c.CurrentVotes)],
                                backgroundColor: [
                                    "#ff9800",
                                    "#26a69a",
                                ],
                                hoverBackgroundColor: [
                                    "#ff9800",
                                    "#26a69a",
                                ]
                            }]
                    };

                    ctx = $('#innerPieChart_@j');
                    // For a pie chart
                    var myPieChart = new Chart(ctx, {
                        type: 'pie',
                        data: data
                    });
                });
            </script>
        }
    }
}

<div class="row">
    <h3>Vote on <span id="votes-remaining"></span> Criterias for Category : @Model.Category.name</h3>
    <ul class="collapsible popout col s8" data-collapsible="accordion">
        @{
            int i = 0;
            foreach (CriteriaViewModel c in Model.CriteriaModels)
            {
                i++;
                <li>
                    <div class="collapsible-header">@c.Name<div class="right">Current : @c.CurrentVotes <a class="btn" onclick="vote(this, @c.Id)">Vote</a></div></div>
                    <div class="collapsible-body row">
                        <div class="col s5">
                            <canvas class="col s12" id="innerPieChart_@i" width="200" height="200"></canvas>
                        </div>
                        <div class="col s7">
                            <h4>@c.PercentTotalVotes% of total votes</h4>
                            <h5>Average rating attributed:</h5>
                            <div class="criteria-stars">
                                <span>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </li>
            }
        }
    </ul>
    <div class="col s4 row">
        <canvas class="col s12" id="barChart" width="200" height="200"></canvas>
    </div>
</div>
