﻿@model EyeWitness.GUI.Identity.Models.EvaluationsViewModel

@section stylesheets {
    <link rel="stylesheet" href="~/Content/css/evaluation.css" />
}

<h4>Your evaluation about witness card : "@Model.WitnessCard.name"</h4>

@using (Html.BeginForm("Create", "Evaluation", FormMethod.Post, new { enctype = "multipart/form-data", @class = "card row eval-card" }))
{
    <div class="eval-header row col s12">
        <img class="z-depth-1 eval-userimage col s2" src="@Url.Content(Model.UserImageUrl)" />
        <div class="eval-name-date col s5">
            <h5>@Model.UserFirstName @Model.UserLastName</h5>
        </div>
        <span class="eval-rating col s1 offset-s4 right valign-wrapper">
            <span>0</span>
            <i class="material-icons">star</i>
        </span>
    </div>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.WitnessCardId)

        <div class="input-field col s12">
            @Html.LabelFor(model => model.Description)
            @Html.TextAreaFor(model => model.Description, htmlAttributes: new { @class = "materialize-textarea" })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>

        @Html.LabelFor(model => model.VideoUrl, htmlAttributes: new { @class = "col s12" })
        <div class="col s10 offset-s1 create-evaluation-video-placeholder valign-wrapper">
            <img src="~/Content/img/video_placeholder.png" />
            @Html.ValidationMessageFor(model => model.VideoUrl)
            @Html.TextBox("Video", null, new { type = "file", style = "display: none", accept = "video/*" })
            <div class="eval-video-container">
                <i class="video-close-button material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="Replace this video">close</i>
                <video height="450" controls></video>
            </div>
        </div>

        @Html.LabelFor(model => model.ImagesUrls, htmlAttributes: new { @class = "col s12" })
        <div class="col s12 create-evaluation-image-placeholder row">
            <div class="col s3 valign-wrapper">
                <img src="/Content/img/image_placeholder.png" class="add-image-file" />
            </div>

        </div>

        @Html.LabelFor(model => model.Rating, htmlAttributes: new { @class = "col s12" })
        <div class="col s12 valign-wrapper create-eval-rating">
            @Html.HiddenFor(model => model.Rating)
            <div class="stars">
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
        </div>

        <div class="col s12 valign-wrapper">
            <input type="submit" value="Submit" class="btn btn-default" />
        </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", new { id = Model.WitnessCardId })
</div>

@section Scripts {
    <script>
        $('select').material_select();
    </script>
    <script type="text/javascript" src="~/Content/js/evaluation_create.js"></script>
}