﻿@model IEnumerable<EyeWitness.GUI.Identity.Models.EvaluationViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@foreach (var item in Model)



{
    <div class="card row eval-card">
        <div class="eval-header row col s12">
            <img class="z-depth-1 eval-userimage col s2" src="@Url.Content(item.user.avatar)" />
            <div class="eval-name-date col s5">
                <h5>@item.user.firstName @item.user.lastName</h5>
                <span>@item.evaluationDate.ToLongDateString() </span>
            </div>
            <span class="eval-rating col s1 offset-s4 right valign-wrapper">
                <span>@item.rating</span>
                <i class="material-icons">star</i>
            </span>
        </div>
        <p class="col s12">
            @item.comment
        </p>
        <video controls name="media" class="col s10 offset-s1">
            <source src="@Url.Content("~/Content/_Uploads/Videos/" + item.video)" />
        </video>


    </div>

}

