﻿@model IEnumerable<EyeWitness.GUI.Identity.Models.EvaluationsViewModel>
@using EyeWitness.GUI.Identity.Models

@section stylesheets {
    <link rel="stylesheet" type="text/css" href="/Content/css/slick.css" />
    <link rel="stylesheet" type="text/css" href="/Content/css/slick-theme.css" />
    <link rel="stylesheet" href="/Content/css/evaluation.css" />
}

@section Scripts {
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="/Content/js/slick.js"></script>
    <script type="text/javascript" src="/Content/js/evaluation.js"></script>

    <script>
        $(document).ready(function () {
            $('.materialboxed').materialbox();
        });
    </script>
}

@foreach (EvaluationsViewModel e in Model)
{
    <div class="card row eval-card">
        <div class="eval-header row col s12">
            <img class="z-depth-1 eval-userimage col s2" src="@Url.Content(e.UserImageUrl)" />
            <div class="eval-name-date col s5">
                <h5>@e.UserFirstName @e.UserLastName</h5>
                <span>@e.DateOfEvaluation.ToLongDateString() At @e.DateOfEvaluation.TimeOfDay.ToString()</span>
            </div>
            <span class="eval-rating col s1 offset-s4 right valign-wrapper">
                <span>@e.Rating</span>
                <i class="material-icons">star</i>
            </span>
        </div>

        <p class="col s12">
            @e.Description
        </p>

        <video controls name="media" class="col s10 offset-s1">
            <source src="@Url.Content("~/Content/_Uploads/Videos/" + e.VideoUrl)" />
        </video>

        <div class="eval-image-slider col s12">
            @foreach (string imgUrl in e.ImagesUrls)
                {
                    if (imgUrl != "")
                    {
                    <div>
                        <img class="eval-thumbnail-image materialboxed" src="@Url.Content("~/Content/_Uploads/Images/" + imgUrl)" />
                    </div>
                }
            }
        </div>


    </div>

}

