﻿@model IEnumerable<EyeWitness.GUI.Identity.Models.MyEvaluationsModel>

@{
    ViewBag.Title = "MyEvalution";
}

<h2>MyEvalution</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.evaluationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EvalutionID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WCname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WCDescription)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.evaluationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EvalutionID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WCname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WCDescription)
        </td>
        <td>
           @Html.ActionLink("take a look !", "EvaluationDetail", new { IdEvaluation=item.EvalutionID  }) 
          @*  <a href="javascript:void(0);" class="anchorDetail" data-id="@item.EvalutionID">Details</a>  *@
        </td>
    </tr>
}

</table>


