﻿@model EyeWitness.GUI.Identity.Models.SearchViewModel

@{
    ViewBag.Title = "Search";
}
@section stylesheets {
    <link rel="stylesheet" href="/Content/css/search.css" />
}
@section Scripts {
    <script type="text/javascript" src="/Content/js/search.js"></script>
    
    

        <script>
            function initMap() {
                $('#map').width($('body').width() - 50);
                $('#map').height($('body').height() - 50);
                map = new google.maps.Map(document.getElementById('map'), {
                    center: { lat: 36.7948623 - 0.6, lng: 10.0732376 + 2 },
                    zoom: 8
                });
                @*
                @foreach (var item in Model.GetSearchResults())
                {

                                marker = new google.maps.Marker({
                                position: { lat: @item.Latitude, lng: @item.Longitude },
                                map: map,
                                title: '@item.Name'
                                        });

                                    var infowindow = new google.maps.InfoWindow({
                                content: '@item.Name'
                            });
                    //TODO
                            marker.addListener('click', function()
                                {
                                    infowindow.open(map, marker);
                                });
                            }*@
            }


        </script>
    
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBg_88ff4Dx64Y7tl4rsx9O8ev7RJA9BCA&callback=initMap">
</script>
}
<div class="search-content">
    <div id="map"></div>

    <div class="row" style="width: 90%; height: 90%; overflow: scroll">
        <div class="card col s6 offset-s6 row">
            <h5>Custom Search<i class="material-icons right">chevron_right</i></h5>
            <div class="card-body">
                @using (Html.BeginForm("Search", "Search", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                    <div class="input-field col s12">
                        <input id="name" type="text" name="Name" value="@Model.Name">
                        <label for="name">Search</label>
                    </div>
                    foreach (SelectListItem i in Model.OrderByItems)
                    {
                        <p class="col s12">
                            @if (Model.OrderBy.Equals(i.Value))
                    {
                                <input checked name="OrderByCB" type="radio" id="@i.Value" onclick="setHiddenInputOrderBy('@i.Value')" />
                            }
                            else
                            {
                                <input name="OrderByCB" type="radio" id="@i.Value" onclick="setHiddenInputOrderBy('@i.Value')" />
                            }

                            <label for="@i.Value">@i.Text</label>
                        </p>
                    }
                    <input type="hidden" name="OrderBy" id="orderByInput" />
                    <div class="input-field col s12">
                        <select multiple name="Categories">
                            <option value="" disabled selected>Choose your option</option>
                            @foreach (SelectListItem i in Model.Categories)
                            {
                                if (i.Selected)
                                {
                                    <option selected value="@i.Value">@i.Text</option>
                                }
                                else
                                {
                                    <option value="@i.Value">@i.Text</option>
                                }
                            }
                        </select>
                        <label>Categories</label>
                    </div>
                    <div class="input-field col s12">
                        <select multiple name="Ambiences">
                            <option value="" disabled selected>Choose your option</option>
                            @foreach (SelectListItem i in Model.Ambiences)
                            {
                                if (i.Selected)
                                {
                                    <option selected value="@i.Value">@i.Text</option>
                                }
                                else
                                {
                                    <option value="@i.Value">@i.Text</option>
                                }
                            }
                        </select>
                        <label>Ambiences</label>
                    </div>
                    <div class="input-field col s12">
                        <select multiple name="OfferedServices">
                            <option value="" disabled selected>Choose your option</option>
                            @foreach (SelectListItem i in Model.OfferedServices)
                            {
                                if (i.Selected)
                                {
                                    <option selected value="@i.Value">@i.Text</option>
                                }
                                else
                                {
                                    <option value="@i.Value">@i.Text</option>
                                }
                            }
                        </select>
                        <label>Offered services</label>
                    </div>
                    <div class="input-field col s12">
                        <select multiple name="MeansOfPayment">
                            <option value="" disabled selected>Choose your option</option>
                            @foreach (SelectListItem i in Model.MeansOfPayment)
                            {
                                if (i.Selected)
                                {
                                    <option selected value="@i.Value">@i.Text</option>
                                }
                                else
                                {
                                    <option value="@i.Value">@i.Text</option>
                                }
                            }
                        </select>
                        <label>Means of payment</label>
                    </div>
                    <div class="input-field col s5">
                        <input id="lat" type="text" name="Latitude" value="@Model.Latitude">
                        <label for="lat">Latitude</label>
                    </div>
                    <div class="input-field col s5">
                        <input id="lg" type="text" name="Longitude" value="@Model.Longitude">
                        <label for="lg">Longitude</label>
                    </div>
                    <div class="col s2" style="margin-top: 20px">
                        <i class="material-icons tooltipped" id="choose-location-btn" style="margin-left: 30px;" data-position="top" data-delay="50" data-tooltip="Locate on the map">location_on</i>
                    </div>
                    <div class="input-field col s12">
                        <input id="Address" type="text" name="Address" value="@ViewBag.nb">
                        <label for="Address">Address</label>
                    </div>
                    <p class="col s12">
                        @if (Model.NearMe)
                {
                            <input type="checkbox" id="NearMe" checked />
                        }
                        else
                        {
                            <input type="checkbox" id="NearMe" />
                        }
                        <label for="NearMe">Near me</label>
                    </p>
                    <input type="submit" class="btn btn-default" value="Search" />
                }
            </div>
        </div>

        <div class="cards col s6 offset-s6 row">
            <h5>Search results</h5>
            <div class="s12">
                @if (Model != null)
                {
                    int i = 0;
                    foreach (var item in Model.GetSearchResults())
                    {
                        i++;
                        if (i % 2 == 0)
                        {
                            <div class="col s12 m6" style="border: 1px solid transparent">
                                @Html.Partial("_WitnessCardPartial", item)
                            </div>
                        }
                        else
                        {
                            <div class="col s12 m6">
                                @Html.Partial("_WitnessCardPartial", item)
                            </div>
                        }

                    }
                }
            </div>
            <ul class="pagination center s12">
                <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                <li class="active"><a href="#!">1</a></li>
                <li class="waves-effect"><a href="#!">2</a></li>
                <li class="waves-effect"><a href="#!">3</a></li>
                <li class="waves-effect"><a href="#!">4</a></li>
                <li class="waves-effect"><a href="#!">5</a></li>
                <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            </ul>
        </div>

    </div>
</div>