﻿@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin
@using EyeWitness.GUI.Identity.Models
<html class="fsvs">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Fonts-->
    @*<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">*@
    <!-- Stylesheets -->
    <link type="text/css" rel="stylesheet" href="/Content/css/materialize.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="/Content/css/style.css" />
    <link type="text/css" rel="stylesheet" href="/Content/css/font-awesome/css/font-awesome.min.css" />
    <link type="text/css" rel="stylesheet" href="/Content/css/card.css" />
    <link type="text/css" rel="stylesheet" href="/Content/css/animate.css" />
    <link rel="stylesheet" href="/Content/css/chat.css" />
    <title>@ViewBag.Title</title>
    @RenderSection("stylesheets", required: false)

</head>
<body>
    <!-- Header -->

    <header>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper orange">
                    <ul class="right">

                        @if (Request.IsAuthenticated)
                        {
                            ApplicationUser loggedUser = Request.GetOwinContext().GetUserManager<ApplicationUserManager>().FindById(User.Identity.GetUserId());

                            <li>
                                <a class="dropdown-button valign-wrapper" href='#' data-activates='user-menu-dropdown' data-beloworigin="true">@loggedUser.UserInfo.firstName @loggedUser.UserInfo.lastName<img style="border-radius: 50%;margin-left: 10px" src="@Url.Content("~/Content/_Uploads/Avatars/" + loggedUser.UserInfo.avatar)" width="50" height="50" /></a>
                            </li>

                            <ul id='user-menu-dropdown' class='dropdown-content'>
                                <li>
                                    <a class="row" href="/Manage" style="margin-bottom: 0px;">
                                        <i class="material-icons col s3">person</i>
                                        <span class="col s9">Your Profile</span>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a class="row" style="margin-bottom: 0px;" href="javascript:document.getElementById('logoutForm').submit()">
                                        <i class="fa fa-sign-out col s3" aria-hidden="true"></i>
                                        <span class="col s9">Log off</span>
                                    </a>
                                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", style = "display:none" }))
                                    {
                                        @Html.AntiForgeryToken()
                                    }
                                </li>
                            </ul>
                            
                        }
                        else
                        {
                            <li><a class="waves-effect waves-light btn login-btn" href="/Account/Login">Login</a></li>
                            <li><a class="waves-effect waves-light btn" href="/Account/Register">Register</a></li>
                        }

                    </ul>
                    <ul class="left">
                        <li><i class="material-icons">search</i></li>
                        <li><input type="text" placeholder="Search" id="fast-search-input" /></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div id="fast-search-results">
        <div class="no-results">
            <div class="search-title">Results</div>
            <div class="no-results-text">No results</div>
        </div>
        <div class="witness-card-results">
            <div class="search-title">Witness cards</div>
            <div class="results">
                <div class="chip">
                    <img src="/Content/img/yuna.jpg" alt="Contact Person">
                    Jane Doe
                </div>
                <div class="chip">
                    <img src="/Content/img/yuna.jpg" alt="Contact Person">
                    Jane Doe
                </div>
                <div class="chip">
                    <img src="/Content/img/yuna.jpg" alt="Contact Person">
                    Jane Doe
                </div>
            </div>
        </div>
        <div class="category-results">
            <div class="search-title">Categories</div>
            <div class="results">
                <div class="chip">
                    <img src="/Content/img/yuna.jpg" alt="Contact Person">
                    Jane Doe
                </div>
                <div class="chip">
                    <img src="/Content/img/yuna.jpg" alt="Contact Person">
                    Jane Doe
                </div>
                <div class="chip">
                    <img src="/Content/img/yuna.jpg" alt="Contact Person">
                    Jane Doe
                </div>
            </div>
        </div>
        <div class="user-results">
            <div class="search-title">Users</div>
            <div class="results">
                <div class="chip">
                    <img src="/Content/img/yuna.jpg" alt="Contact Person">
                    Jane Doe
                </div>
                <div class="chip">
                    <img src="/Content/img/yuna.jpg" alt="Contact Person">
                    Jane Doe
                </div>
                <div class="chip">
                    <img src="/Content/img/yuna.jpg" alt="Contact Person">
                    Jane Doe
                </div>
            </div>
        </div>
    </div>

    <!--
    <div class="navbar-fixed">
        <nav class="white breadcrumbs">
            <div class="nav-wrapper white">
                <div class="col s12">
                    <a href="#!" class="breadcrumb">First</a>
                    <a href="#!" class="breadcrumb">Second</a>
                    <a href="#!" class="breadcrumb">Third</a>
                </div>
            </div>
        </nav>
    </div>
    -->
    <!--
    <ul id="slide-out" class="side-nav">
        <li>
            <div class="userView">
                <div class="background">
                    <img src="/Content/img/office.jpg">
                </div>
                <a href="#!user"><img class="circle" src="/Content/img/yuna.jpg"></a>
                <a href="#!name"><span class="white-text name">John Doe</span></a>
                <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
            </div>
        </li>
        <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
        <li><a href="#!">Second Link</a></li>
        <li><div class="divider"></div></li>
        <li><a class="subheader">Subheader</a></li>
        <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse hoverable"><i class="material-icons">menu</i></a>
        -->
    <!-- Content -->

    <div class="side-menu-initial">
        <i class="material-icons menu-btn">menu</i>

        <a href="#!" class="brand-logo">
            <div class="brand-text">Eyewitness</div>
            <img class="hoverable" src="/Content/img/logo.png" />
        </a>

        <ul class="menu-content">
            <li>
                <img src="/Content/img/logo.png" />
                <div>Eyewitness</div>
            </li>
            <li class="menu-item">
                @Html.ActionLink("Home", "Index", "Home")
            </li>
            <li class="menu-item">
                @Html.ActionLink(linkText: "Criteria Vote", actionName: "Vote", controllerName: "Criteria", routeValues: new { id = 1 }, htmlAttributes: null)
            </li>
            <li class="menu-item">
                @Html.ActionLink("Search", "Index", "Search")
            </li>
        </ul>
    </div>


    <div class="container">
        @RenderBody()
    </div>



    <!--<a class="btn-floating btn-large waves-effect waves-light teal search-btn">
        <i class="material-icons">search</i>
        <input type="text">
    </a>-->
    <!-- Footer -->
    <!--
    <footer class="page-footer orange">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © @DateTime.Now.Year Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>
    -->

    @{
        if (User.Identity.IsAuthenticated)
        {
            Html.RenderAction("Chat", "Home");
        }
    }

    <!-- Scripts -->
    <script type="text/javascript" src="/Content/js/jquery.min.js"></script>
    <script type="text/javascript" src="/Content/js/materialize.js"></script>
    <script type="text/javascript" src="/Content/js/script.js"></script>
    <script type="text/javascript" src="/Content/js/chat.js"></script>
    @if (User.Identity.IsAuthenticated)
    {

        int userId = HttpContext.Current.GetOwinContext().GetUserManager<ApplicationUserManager>().FindById(User.Identity.GetUserId()).UserInfo.Id;

        <!--Reference the SignalR library. -->
        <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
        <!--Reference the autogenerated SignalR hub script. -->
        <script src="~/signalr/hubs"></script>
        <!--SignalR script to update the chat page and send messages.-->
        <script>
            $(function () {
                $.connection.logging = true;
                $.connection.chatHub.logging = true;
                var chat = $.connection.chatHub;

                // Logging purpose
                chat.client.log = function (msg) {
                    console.log("Server side : ", msg);
                }

                // Add message to view
                chat.client.addMessage = function (senderId, idRoom, message) {

                    ids = idRoom.split('_');

                    // Find card element to append to
                    id = null;
                    if ($('#' + ids[0] + '_' + ids[1]).length != 0) id = ids[0] + '_' + ids[1]
                    else id = ids[1] + '_' + ids[0]

                    // Find chat-bubble element
                    bubbleElt = $('div.chat-bubble[data-card-toggle=' + id + ']');
                    tagElt = $(bubbleElt).find('.tag');
                    // Increase tag value if elt it not selected
                    if (!$(bubbleElt).hasClass('selected')) {

                        // If tag is empty write 1
                        if ($(tagElt).html() == '') {
                            $(tagElt).html('1');
                        }
                            // If not empty add 1 to current value
                        else {
                            currentValue = parseInt($(tagElt).html());
                            $(tagElt).html(currentValue + 1);
                        }
                    }

                    console.log('Found element to append to : ', id);

                    Id = @Html.Raw(userId);
                    classToAdd = "";
                    if (senderId == Id){
                        classToAdd = "msg-sent";
                    }else {
                        classToAdd = "msg-received";
                    }
                    /* msg-sent*/
                    $('#' + id).find('.card-messages > ul').append('<li class="card-message ' + classToAdd + '">' + message + '</li>');
                }

                $.connection.hub.start().done(function () {
                    // Join Followers rooms on server side complete !
                    console.log('Connection started !');

                    // Setup send button clicks
                    $('.chat-cards > .card').each(function (i, elt) {
                        var liEltId = $(elt).attr('id');

                        // For each card
                        $(this).find('i.send-msg').click(function () {

                            IdRoom = liEltId;
                            message = $(elt).find('input').val();
                            console.log('Sending message to room : ' + IdRoom + " => " + message);
                            chat.server.sendMessageTo(@userId, IdRoom, message);
                            $(elt).find('input').val('');
                        });
                    });
                });
            });
        </script>
    }

    @RenderSection("scripts", required: false)
</body>
</html>
