﻿@model EyeWitness.GUI.Identity.Models.WitnessCardPartialViewModel

<article class="card hoverable bounceInLeft animated" style="">
    <header class="card__thumb">
        <a href="">
            <img src="@Url.Content(Model.ImageUrl)">
        </a>
    </header>
    <div class="card__date">
        <span class="card__date__day">@Model.NbSubscribers</span>
        <span class="card__date__month">Subs</span>
    </div>
    <div class="card__body">
        <div class="card__category">
            <a href="">@Model.Category</a>
        </div>
        <div class="card__rating">
            <i class="material-icons small yellow-text yellow-text-darken-1" style="font-size: .9rem;">star</i>
            <i class="material-icons small yellow-text yellow-text-darken-1" style="font-size: .9rem;">star</i>
            <i class="material-icons small yellow-text yellow-text-darken-1" style="font-size: .9rem;">star</i>
            <i class="material-icons small yellow-text yellow-text-darken-1" style="font-size: .9rem;">star_half</i>
            <i class="material-icons small yellow-text yellow-text-darken-1" style="font-size: .9rem;">star_border</i>
        </div>
        <h2 class="card__title">
            <a href="">@Model.Name</a>
        </h2>
        <!--<div class="card__subtitle">Subtitle</div>-->
        <p class="card__description">
            @Model.Description
        </p>
    </div>
    <footer class="card__footer">
        <i class="material-icons small" style="font-size: .9rem;">chat</i>
        <a href="">@Model.NbEvaluations Evaluations</a>
    </footer>
</article>
