﻿@model EyeWitness.GUI.Identity.Models.ChatViewModel
@using EyeWitness.GUI.Identity.Models;

<div class="chat-container">
    @foreach (ChatUser u in Model.Followers)
    {
        <div class="chat-bubble z-depth-2 tooltipped" data-card-toggle="@Model.LoggedUserId@Html.Raw("_")@u.Id" data-position="left" data-delay="50" data-tooltip="@u.FullName">
            <img src="@Url.Content("~/Content/_Uploads/Avatars/" + u.Avatar)" />
            <div class="tag z-depth-1"></div>
        </div>
        
    }
    
</div>
<div class="chat-cards">
    @foreach (ChatUser u in Model.Followers)
    {
        <div class="card" id="@Model.LoggedUserId@Html.Raw("_")@u.Id">
            <div class="card-header">@u.FullName<i onclick="closeCard('@Model.LoggedUserId@Html.Raw("_")@u.Id')" class="material-icons right">chevron_right</i></div>
            <div class="card-body">
                
                <div class="card-messages">
                    <ul>
                        
                    </ul>
                </div>
                <div class="card-send-input row">
                    <input placeholder="Write a message..." type="text" class="col s10" />
                    <i class="material-icons col s2 send-msg">send</i>
                </div>
            </div>
        </div>
    }
</div>


@*
    <ul>
        @foreach (ChatUser u in Model.Followers)
        {

            <li class="chat-elt" id="@Model.LoggedUserId@Html.Raw("_")@u.Id">
                <img src="@Url.Content(u.Avatar)" width="150" height="150" />

                @u.FullName

                <button>Send</button>

                <ul class="disscussion"></ul>
                <textarea class="materialize-textarea"></textarea>
            </li>

        }
    </ul>
*@
@*
    @section scripts {
        <!--Script references. -->
        <!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
        <!--Reference the SignalR library. -->
        <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
        <!--Reference the autogenerated SignalR hub script. -->
        <script src="~/signalr/hubs"></script>
        <!--SignalR script to update the chat page and send messages.-->
        <script>
            $(function () {
                $.connection.logging = true;
                $.connection.chatHub.logging = true;
                var chat = $.connection.chatHub;

                // Logging purpose
                chat.client.log = function (msg) {
                    console.log("Server side : ", msg);
                }

                // Add message to view
                chat.client.addMessage = function (loggedUserFullName, idRoom, message) {
                    ids = idRoom.split('_');

                    // Find element to append to
                    id = null;
                    if ($('#' + ids[0] + '_' + ids[1]).length != 0) id = '#' + ids[0] + '_' + ids[1]
                    else id = '#' + ids[1] + '_' + ids[0]

                    console.log('Found element to append to : ', id);


                    $(id).find('.disscussion').append('<li><b>' + loggedUserFullName + ' : </b>' + message + '</li>');
                }

                $.connection.hub.start().done(function () {
                    // Join Followers rooms on server side complete !
                    console.log('Connection started !');

                    // Setup send button clicks
                    $('li.chat-elt').each(function (i, elt) {
                        var liEltId = $(elt).attr('id');

                        // For each <li>
                        $(this).find('button').click(function () {
                            IdRoom = liEltId;
                            message = $(elt).find('textarea').val();
                            console.log('Sending message to room : ' + IdRoom + " => " + message);
                            chat.server.sendMessageTo(@Model.LoggedUserId, IdRoom, message);
                            $(elt).find('textarea').val('');
                        });
                    });
                });
            });
        </script>
    }
*@