﻿@model EyeWitness.GUI.Identity.Models.HomePageViewModel

@using EyeWitness.GUI.Identity.Models;

@{
    ViewBag.Title = "Home Page";
}

@section stylesheets {
    <link rel="stylesheet" type="text/css" href="/Content/css/slick.css" />
    <link rel="stylesheet" type="text/css" href="/Content/css/slick-theme.css" />
    <link type="text/css" rel="stylesheet" href="/Content/css/home.css" />
    <link href="/Content/assets/css/style.css" media="all" rel="stylesheet" type="text/css" />

}
@section Scripts {
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="/Content/assets/js/bundle.js"></script>
    <script type="text/javascript" src="/Content/js/slick.js"></script>
    <script type="text/javascript" src="/Content/js/home.js"></script>
}
<div id="fsvs-body">
    <div class="slide first-slide">
        <div class="container valign-wrapper">
            <img class="first-slide-logo center valign" src="/Content/img/logo.png" width="300" height="300" />
            <div class="first-slide-title center valign">Eyewitness</div>
            <div class="first-slide-subtitle center valign">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
            <div class="signature center" style="color: white;">Made with <i class="fa fa-heart" style="color: red" aria-hidden="true"></i> By α Team <a href="">@Html.Raw('@')Esprit</a></div>
        </div>
    </div>
    <div class="slide second-slide valign-wrapper">
        <!-- Icon Section -->
        <div class="container">
            <h3 class="third-slide-title slide-title" style="display: none">What is <span>Eyewitness</span> ?</h3>
            <div class="row" id="info-cards-content" style="display : none;">
                <div class="col s12 m4 bounceInLeft animated">
                    <div class="icon-block card valign-wrapper">
                        <div class="valign">
                            <h2 class="center white-text">
                                <i class="material-icons z-depth-1">
                                    code
                                </i>
                            </h2>
                            <h5 class="center">
                                Des cours de développement 100% en ligne
                            </h5>
                            <p class="light">
                                We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4 bounceInUp animated">
                    <div class="icon-block card valign-wrapper">
                        <div class="valign">
                            <h2 class="center white-text">
                                <i class="material-icons z-depth-1">
                                    people
                                </i>
                            </h2>
                            <h5 class="center">
                                Une équipe soudée et motivée
                            </h5>
                            <p class="light">
                                By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4 bounceInRight animated">
                    <div class="icon-block card valign-wrapper">
                        <div class="valign">
                            <h2 class="center white-text">
                                <i class="material-icons z-depth-1">
                                    business_center
                                </i>
                            </h2>
                            <h5 class="center">
                                Des partenaires blabla
                            </h5>
                            <p class="light">
                                We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slide third-slide valign-wrapper">
        <div class="container">

            <h3 class="slide-title">Most popular witness cards</h3>
            <div style="text-align: center; color: white; margin-left: auto; margin-right: auto; width:100%; height: 55%;">
                <div class="card-slick-slider">
                    @if (Model != null)
                    {
                        foreach (WitnessCardPartialViewModel c in Model.PopularWitnessCards)
                        {
                    <div class="col s12 m4" style="padding-left: 20px; padding-right: 20px;">
                        @Html.Partial("_WitnessCardPartial", c)
                    </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="slide fourth-slide valign-wrapper" style="background-color: lightblue">
        <div class="container">
            <h3 class="slide-title" style="margin-top: 50px;">Team</h3>
            <div class="row">
                @for (int i = 0; i < 5; i++)
                {
                <div class="col s12 m4 bounceInLeft animated">
                    <div class="icon-block row">
                        <div class="center col s7" style="margin-bottom: 10px;">
                            <img class="team-pic z-depth-1" width="180" height="180" src="/Content/_Uploads/TeamMembers/ahmed_moalla.jpg">
                        </div>
                        <div class="row center col s5">
                            <div class="col s12">
                                <div class="social-icon icon-fb hoverable">
                                    <i class="fa fa-facebook"></i>
                                </div>
                            </div>
                            <div class="col s12">
                                <div class="social-icon icon-twitter hoverable">
                                    <i class="fa fa-twitter"></i>
                                </div>
                            </div>
                            <div class="col s12">
                                <div class="social-icon icon-linkedin hoverable">
                                    <i class="fa fa-linkedin"></i>
                                </div>
                            </div>
                            <div class="col s12">
                                <div class="social-icon icon-googlep hoverable">
                                    <i class="fa fa-google-plus"></i>
                                </div>
                            </div>
                        </div>
                        <h4 class="center col s12" style="font-size: 25px;color: rgba(255, 255, 255, 0.75);">Ahmed Moalla</h4>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
    <style>
        .input-field > input {
            background: white;

        }
        
        textarea:focus, .input-field > input[type="text"], .input-field > input[type="email"] {
            border-bottom: 1px solid #bdc3c7;
        }

        textarea:hover, textarea:focus, .input-field > input[type="text"]:focus, .input-field > input[type="text"]:hover, .input-field > input[type="email"]:focus, .input-field > input[type="email"]:hover {
            border: 1px solid transparent;
            border-bottom: 1px solid #bdc3c7;
        }
        textarea:focus, .input-field > input[type="text"]:focus, .input-field > input[type="email"]:focus {
            border: 1px solid transparent;
            border-bottom: 1px solid #26a69a;
        }

        /*
        .input-field > label {
            left: -150px !important;
        }*/
    </style>
    <div class="slide fifth-slide valign-wrapper" style="background: lightgreen">
        <div class="container">
            <h3 class="slide-title">Contact us</h3>
            <div class="row center card" style="padding-top: 20px; padding-bottom: 40px; padding-left: 20px; padding-right:20px; color:black">
                <form class="row" method="post" action="@Url.Action("ContactUs")">
                    <div class="col s6">
                        <div class="input-field col s12">
                            <input id="username" type="text" name="username">
                            <label for="username">Username</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="email" type="email" name="email">
                            <label style="/*left: -164px !important;" for="email">Email</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="subject" type="text" name="subject">
                            <label style="/*left: -159px !important;" for="subject">Subject</label>
                        </div>
                    </div>
                    <div class="col s6">
                        <div class="input-field col s12">
                            <textarea id="textarea" class="materialize-textarea" name="message"></textarea>
                            <label style="/*left: 0.75rem !important" for="textarea">Message</label>
                        </div>
                    </div>
                    <div class="col s12">
                        <button class="btn orange waves-effect waves-light" type="submit" name="action">
                            Send
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


