﻿@model EyeWitness.GUI.Identity.Models.IndexViewModel
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin
@using EyeWitness.GUI.Identity.Models
@using EyeWitness.Domain.Entities
@{
    ViewBag.Title = "Profile";
}

@section stylesheets {
    <link rel="stylesheet" href="/Content/css/profile.css" />
}

@section scripts {
    <script>var statusMessage = "@ViewBag.StatusMessage";</script>
    <script src="/Content/js/profile.js" type="text/javascript"></script>
}

<div class="container">
    <div class="row">
        <div class="header">
            <!--
            <div class="witness-card-subscribe s12">
                <div class="subscribe-btn">
                    <i class="material-icons">remove_red_eye</i>
                    <div>Subscribe</div>
                </div>

                <div class="number">250</div>
            </div> -->
            <div class="follow-button">
                <div class="follow-text">
                    <i class="fa fa-rss"></i>
                    <div>Follow</div>
                </div>
                <div class="follow-number">234</div>
            </div>

            <div class="profile-image center">
                <img class="z-depth-1" src="~/Content/_Uploads/TeamMembers/ahmed_moalla.jpg" />
            </div>
            <div class="user-fullname center">
                <h4>Ahmed Moalla</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12" style="padding: 0">
            <ul class="tabs tabs-fixed-width">
                <li class="tab col s3"><a class="active" href="#tab1">Your Personal Informations</a></li>
                <li class="tab col s3"><a href="#tab2">Your Evaluations</a></li>
                <li class="tab col s3"><a href="#tab3">Followed Users evaluations</a></li>
                <li class="tab col s3"><a href="#tab4">What's New ?</a></li>
            </ul>
        </div>
        <div id="tab1" class="col s12">
            <div class="row card-personal-info">
                <div class="col s3" id="personal-info-list">
                    <ul>
                        <li id="li1" class="selected">Informations</li>
                        <li id="li2">Edit your informations</li>
                        <li id="li3">Change your password</li>
                        <li id="li4">Subscribed witness cards</li>
                        <li id="li5">Followed users</li>
                        <li id="li6">Managed witness cards</li>
                        <li id="li7">Your photos</li>
                        <li id="li8">Your videos</li>
                    </ul>
                </div>
                <div class="col s9" id="personal-info-display">
                    <div data-display="li1">

                        <div class="row">
                            <div class="col s12 row"><span class="col s6">First Name<i class="material-icons right">chevron_right</i></span><span>@Model.FirstName</span></div>
                            <div class="col s12 row"><span class="col s6">Last Name<i class="material-icons right">chevron_right</i></span><span>@Model.LastName</span></div>
                            <div class="col s12 row"><span class="col s6">Email<i class="material-icons right">chevron_right</i></span><span>@Model.Email</span></div>
                            <div class="col s12 row"><span class="col s6">Address<i class="material-icons right">chevron_right</i></span><span>@Model.Address</span></div>
                            <div class="col s12 row"><span class="col s6">Birth Date<i class="material-icons right">chevron_right</i></span><span>@Model.BirthDate</span></div>
                            <div class="col s12 row"><span class="col s6">Phone Number<i class="material-icons right">chevron_right</i></span><span>@Model.PhoneNumber</span></div>
                            <div class="col s12 row"><span class="col s6">Number of evaluations<i class="material-icons right">chevron_right</i></span><span>value</span></div>
                            <div class="col s12 row"><span class="col s6">Number of created Witness Cards<i class="material-icons right">chevron_right</i></span><span>value</span></div>
                            <div class="col s12 row"><span class="col s6">Number of managed Witness Cards<i class="material-icons right">chevron_right</i></span><span>@Model.ManagedWitnessCards.Count()</span></div>
                        </div>

                    </div>
                    <div data-display="li2">
                        <div class="row">
                            @using (Html.BeginForm("UpdateUserProfile", "User", FormMethod.Post))
                            {
                                <div class="col s12 row valign-wrapper"><span class="col s6">First Name<i class="material-icons right">chevron_right</i></span>@Html.TextBoxFor(m => m.FirstName, htmlAttributes: new { @class = "col s6" })</div>
                                <div class="col s12 row valign-wrapper"><span class="col s6">Last Name<i class="material-icons right">chevron_right</i></span>@Html.TextBoxFor(m => m.LastName, htmlAttributes: new { @class = "col s6" })</div>
                                <div class="col s12 row valign-wrapper"><span class="col s6">Email<i class="material-icons right">chevron_right</i></span>@Html.TextBoxFor(m => m.Email, htmlAttributes: new { @class = "col s6" })</div>
                                <div class="col s12 row valign-wrapper"><span class="col s6">Address<i class="material-icons right">chevron_right</i></span>@Html.TextBoxFor(m => m.Address, htmlAttributes: new { @class = "col s6" })</div>
                                <div class="col s12 row valign-wrapper"><span class="col s6">Birth Date<i class="material-icons right">chevron_right</i></span>@Html.TextBoxFor(m => m.BirthDate, htmlAttributes: new { @class = "col s6" })</div>
                                <div class="col s12 row valign-wrapper"><span class="col s6">Phone Number<i class="material-icons right">chevron_right</i></span>@Html.TextBoxFor(m => m.PhoneNumber, htmlAttributes: new { @class = "col s6" })</div>
                            }
                        </div>
                        <input class="btn" type="submit" value="Update informations" id="update-user-profile-button" style="margin-top: 10px" />
                    </div>
                    <div data-display="li3">
                        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <h4>Change your password</h4>
                            <hr />
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(m => m.ChangePasswordViewModel.OldPassword, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.ChangePasswordViewModel.OldPassword, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.ChangePasswordViewModel.NewPassword, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.ChangePasswordViewModel.NewPassword, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.ChangePasswordViewModel.ConfirmPassword, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.ChangePasswordViewModel.ConfirmPassword, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Change password" class="btn btn-default" />
                                </div>
                            </div>
                        }
                    </div>
                    <div data-display="li4">
                        <div class="row" style="margin: 0">
                            @{
                                int i = 0;
                                foreach (WitnessCardPartialViewModel item in Model.SubscribedWitnessCards)
                                {
                                    i++;
                                    if (i % 3 == 0)
                                    {
                                        <div class="col s12 m4" style="border: 1px solid transparent">
                                            @Html.Partial("_WitnessCardPartial", item)
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col s12 m4">
                                            @Html.Partial("_WitnessCardPartial", item)
                                        </div>
                                    }
                                }
                            }
                        </div>
                    </div>
                    <div data-display="li5">
                        <div class="row val">
                            @foreach (User u in Model.FollowedUsers)
                            {
                                <div class="col s12 valign-wrapper" style="position: relative;cursor: pointer;">
                                    <img style="border-radius: 7px; margin-right: 10px" width="50" height="50" src="@Url.Content("~/Content/_Uploads/Avatars/" + u.avatar)"/>
                                    @u.firstName @u.lastName
                                    <i class="material-icons right" style="position: absolute; right: 15px;top:25px;">chevron_right</i>
                                    <a href="GO_TO_PROFILE_OF_@u.Id" style="display: none;"></a>
                                </div>
                            }
                            
                        </div>
                    </div>
                    <div data-display="li6">
                        <div class="row" style="margin: 0">
                            @{
                                i = 0;
                                foreach (WitnessCardPartialViewModel item in Model.ManagedWitnessCards)
                                {
                                    i++;
                                    if (i % 3 == 0)
                                    {
                                        <div class="col s12 m4" style="border: 1px solid transparent">
                                            @Html.Partial("_WitnessCardPartial", item)
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col s12 m4">
                                            @Html.Partial("_WitnessCardPartial", item)
                                        </div>
                                    }
                                }
                            }
                        </div>
                    </div>
                    <div data-display="li7">
                        <h1>Test 7</h1>
                    </div>
                    <div data-display="li8">
                        <h1>Test 8</h1>
                    </div>
                </div>
            </div>
        </div>
        <div id="tab2" class="col s12">Test 2</div>
        <div id="tab3" class="col s12">Test 3</div>
        <div id="tab4" class="col s12">Test 4</div>
    </div>
</div>

