﻿@model IEnumerable<EyeWitness.GUI.Identity.Models.WitnessCardModel>
@using EyeWitness.GUI.Identity.Models;
@{
    ViewBag.Title = "Afficher";
}
<div style="font-family:Arial">
    <h2>Witness List</h2>
    <ul>
        
       @foreach (WitnessCardModel wcm in @Model)
       {
           <li>
               @Html.ActionLink(wcm.name,"Details",new { id=wcm.Id})
           </li>
       }
    </ul>

</div>
