﻿@model EyeWitness.GUI.Identity.Models.WitnessCardModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@*<div>
    <h4>WitnessCardModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.picture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.picture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Localisation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Localisation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@

@{string path = "~/Content/Upload/" + @Model.picture;}
<div class="col s4">
    <p><h6>Name:</h6>@Model.name</p>
    <img alt="WitnessCard" src="@Url.Content(path)" width="200" height="200" />
    <p><h6>Description:</h6>@Model.description</p>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Localisation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Localisation)
        </dd>

        </dl>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
</div>
