﻿@model EyeWitness.GUI.Identity.Models.WitnessCardModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "WitnessCard", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>WitnessCardModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.picture, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("Image", null, new { type = "file" })
                @Html.ValidationMessageFor(model => model.picture, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CategoryId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CategoryId, Model.Category, "select")
                @Html.ValidationMessageFor(model => model.CategoryId)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Localisation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Localisation, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Localisation, "", new { @class = "text-danger" })
            </div>
        </div>
        <html>
        <head>
            <meta charset="utf-8">
            <title>Marker Animations</title>
            <style>
                html, body {
                    height: 100%;
                    margin: 0;
                    padding: 0;
                }

                #map {
                    height: 100%;
                }
            </style>
        </head>
        <body>
            <div id="map"></div>
            <form action="">
                <input type="hidden" name="lat" id="lat" />
                <input type="hidden" name="lng" id="lng" />
            </form>
            <script>

                    // The following example creates a marker in Stockholm, Sweden using a DROP
                    // animation. Clicking on the marker will toggle the animation between a BOUNCE
                    // animation and no animation.

                    var marker;
                    var latitude = document.getElementById("Latitude").value;
                    var longitude = document.getElementById("Longitude").value;
                    function initMap() {
                        var map = new google.maps.Map(document.getElementById('map'), {
                            zoom: 13,
                            center: { lat: 59.325, lng: 18.070 }
                        });

                        marker = new google.maps.Marker({
                            map: map,
                            draggable: true,
                            animation: google.maps.Animation.DROP,
                            position: { lat: 59.327, lng: 18.067 }
                        });
                        marker.addListener('click', toggleBounce);
                        //marker.setPosition(tx);
                        google.maps.event.addListener(marker, 'dragend', function () {
                            var lat = marker.getPosition().lat();
                            var lng = marker.getPosition().lng();
                            /*marke
                            $('#lat').val(lat);
                            $('#lng').val(lng);*/
                            /*$.ajax({
                                url: "http://maps.googleapis.com/maps/api/geocode/json?latlng=" + lat + "," + lng + "&sensor=true",
                                success: function (res) {
                                    console.log(res.results[0].formatted_address);
                                }
                            })*/

                            var latlng = new google.maps.LatLng(lat, lng);
                            var geocoder = geocoder = new google.maps.Geocoder();
                            geocoder.geocode({ 'latLng': latlng }, function (results, status) {
                                if (status == google.maps.GeocoderStatus.OK) {
                                    if (results[1]) {
                                        //alert("Location: " + results[1].formatted_address);
                                       $("#Localisation").val(results[1].formatted_address);
                                    }
                                }
                            });

                        });
                        google.maps.event.addListener(marker, 'tx', function () {
                            var tx = marker.setPosition().tx();
                            $('#tx').val(tx);

                        });
                    }

                    function toggleBounce() {
                        if (marker.getAnimation() !== null) {
                            marker.setAnimation(null);
                        } else {
                            marker.setAnimation(google.maps.Animation.BOUNCE);
                        }
                    }
            </script>
            <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCVSBoBAUjAfb-Pfx_qq0ZKUHCitbzsl4&signed_in=true&callback=initMap"></script>
        </body>
    </html>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
