﻿
@{
    ViewBag.Title = "Witness Card Name";
}

@section stylesheets {
    <link rel="stylesheet" href="~/Content/css/witnesscard.css" />
}

@section Scripts {
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBg_88ff4Dx64Y7tl4rsx9O8ev7RJA9BCA&callback=initMap">
</script>
    <script type="text/javascript" src="~/Content/js/witnesscard.js"></script>

}
<div class="container">
    <div class="row">
        <div class="witness-card-content col s12">
            <div class="witness-card-header row valign-wrapper">
                <div class="witness-card-subscribe s12">
                    <div class="subscribe-btn">
                        <i class="material-icons">remove_red_eye</i>
                        <div>Subscribe</div>
                    </div>
                    
                    <div class="number">250</div>
                </div>
                <div class="valign valign-wrapper">
                    <img class="witness-card-logo z-depth-2 s12 valign" src="/Content/img/logo.png" alt="logo" />
                    <h5 class="witness-card-title s12">Witness Card Name</h5>
                    <div class="witness-card-rating s12 valign">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
                
            </div>
            <div class="witness-card-infos">
                <h3 class="section-title">General Informations</h3>
                <ul class="row card">
                    <li class="col s12">
                        <label><i class="fa fa-list"></i> Description</label>
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
                        </p>
                    </li>
                    <li class="col s6">
                        <label><i class="fa fa-map-marker"></i>Address :</label> 5, Rue de Tunis
                    </li>
                    <li class="col s6">
                        <label><i class="fa fa-phone"></i>Phone :</label> +21652911990
                    </li>
                    <li class="col s12">
                        <label><i class="fa fa-list"></i>Ambience :</label>
                        <div class="row">
                            <div class="col s3">Ambience</div>
                            <div class="col s3">Ambience</div>
                            <div class="col s3">Ambience</div>
                            <div class="col s3">Ambience</div>
                        </div>
                    </li>
                    <li class="col s12">
                        <label>Offered services :</label>
                        <div class="row">
                            <div class="col s3">Service</div>
                            <div class="col s3">Service</div>
                            <div class="col s3">Service</div>
                        </div>
                    </li>
                    <li class="col s12">
                        <label><i class="fa fa-credit-card"></i>Means of payment :</label>
                        <div class="row">
                            <div class="col s3">Service</div>
                            <div class="col s3">Service</div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="witness-card-map">
                <h3 class="section-title">Location</h3>
                <div>
                    <div id="map"></div>
                </div>
            </div>
            <div class="witness-card-rating"></div>
            <div class="witness-card-evaluations">

            </div>
        </div>
        
    </div>
</div>

