﻿@model IEnumerable<EyeWitness.GUI.Identity.Models.WitnessCardModel>

<p>
    @Html.ActionLink("List Of WitnessCard Suggested", "ListOfWCSuggested")
</p>

@if (Model != null)
{
    foreach (var item in Model)
    {
        @Html.Partial("PartialViewWCSuggest", item);
    }
}
