﻿@model IEnumerable<EyeWitness.GUI.Identity.Models.CategoryModel>

@{
    ViewBag.Title = "Lister";
}

<h2>Lister</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.ActionLink("Consulter", "Afficher", new { categoryId=item.IDCat }) |
        </td>
    </tr>
}

</table>
