﻿@model IEnumerable<EyeWitness.GUI.Identity.Models.WitnessCardModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.picture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.note)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.picture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.note)
            </td>

            <td>

                @if (item.isSubscribed == "false")
                {@Html.ActionLink("Suscribe", "Subscribe", new { id = item.Id })}
                else
                { @Html.ActionLink("Unsuscribe", "unSubscribe", new { id = item.Id })}
            </td>
        </tr>
    }

</table>
