﻿@model EyeWitness.GUI.Identity.Models.WitnessCardModel
@{string path = "~/Content/Upload/" + @Model.picture;}
<div style="float:left; margin:5px;">
    <p>@Model.name</p>
    <img alt="WitnessCard" src="@Url.Content(path)" width="50" height="50" />
    <p>@Model.description</p>
    <p>@Html.ActionLink("Details", "Details", new { id = Model.Id })</p>
    
    
</div>

