﻿@model EyeWitness.GUI.Identity.Models.WitnessCardModel

<div style="float:left; margin:5px; width:30%;border:inset" class="card center" >
    <p>@Model.name</p><br />
    <img alt="WitnessCard" src="@Url.Content(Model.picture)" width="150" height="90" />
    <br/>
    <p>@Model.description</p>
    <p>@Html.ActionLink("Details", "Details", new { id = Model.Id })</p>
    <p>@Html.ActionLink("Suggest", "Suggest", new { id = Model.Id })</p>
    <p>@Html.ActionLink("Delete", "Delete", new { id = Model.Id })</p>
    <p>@Html.ActionLink("Edit", "Edit", new { id = Model.Id })</p>
    @if (Model.status == null)
    {
        <p>@Html.ActionLink("Publish", "Publish", new { id = Model.Id })</p>
    }
    
</div>

