﻿@model IEnumerable<EyeWitness.GUI.Identity.Models.IndexWCViewModel>



@foreach (var item in Model)
{


    <div class="row">
        <div class="col s12 m7">
            <div class="card">
                <div class="card-image">
                    <img src="@Url.Content("~/Content/Upload/" + @item.picture)">
                    <span class="card-title">@Html.DisplayFor(modelItem => item.name)</span>
                </div>
                <div class="card-content">
                    <p>
                        @Html.DisplayFor(modelItem => item.description)
                    </p>
                </div>

                <div class="card-action">


                    <label style="margin-left: 180px;color:red;" class="card-title">Note: @Html.DisplayFor(modelItem => item.note)</label>
                </div>




            </div>
        </div>
    </div>



}


