* {
    box-sizing: border-box; }

/*.card {

  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s; }
  .card a {
    color: inherit;
    text-decoration: none; }*/

.card__body > h2 > a{
    color: rgb(96, 125, 139);
}
.card__date {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 45px;
    height: 45px;
    padding-top: 10px;
    color: #FFF;
    text-align: center;
    line-height: 13px;
    font-weight: bold;
    background-color: #ff9800;
    border-radius: 50%; }
.card__date__day {
    display: block;
    font-size: 14px; }
.card__date__month {
    display: block;
    font-size: 10px;
    text-transform: uppercase; }

.card__thumb {
    height: 235px;
    overflow: hidden;
    background-color: #000;
    transition: height 0.3s; }
.card__thumb img {
    display: block;
    opacity: 1;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
.card:hover .card__thumb img {
    opacity: 0.6;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }
.card:hover .card__thumb {
    height: 90px; }

.card__body {
    position: relative;
    padding: 20px;
    height: 185px;
    transition: height 0.3s; }
.card:hover .card__body {
    height: 330px; }

.card__category {
    position: absolute;
    left: 0;
    top: -25px;
    height: 25px;
    padding: 0 15px;
    color: #FFF;
    font-size: 11px;
    line-height: 25px;
    text-transform: uppercase;
    background-color: #ff7043; }

.card__category > a {
    color: white;
}

.card__title {
    margin: 0;
    padding: 0 0 10px 0;
    font-size: 22px;
    color: rgb(96, 125, 139);
    font-weight: bold; }
.card:hover .card__title {
    -webkit-animation: titleBlur 0.3s;
    animation: titleBlur 0.3s; }

.card__subtitle {
    margin: 0;
    padding: 0 0 10px 0;
    font-size: 19px;
    color: #ff7043; }
.card:hover .card__subtitle {
    -webkit-animation: subtitleBlur 0.3s;
    animation: subtitleBlur 0.3s; }

.card__description {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 65px;
    margin: 0;
    padding: 0;
    color: #666C74;
    font-size: 14px;
    line-height: 27px;
    opacity: 0;
    transition: opacity 0.2s, -webkit-transform 0.2s;
    transition: opacity 0.2s, transform 0.2s;
    transition-delay: 0s;
    -webkit-transform: translateY(25px);
    -ms-transform: translateY(25px);
    transform: translateY(25px); }
.card:hover .card__description {
    opacity: 1;
    transition-delay: 0.1s;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }

.card__footer {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    font-size: 11px;
    color: #A3A9AB; }

.card__footer > i {
    font-size: .9rem;
    position: relative;
    top: 3px;
}

.card__footer > a {
    margin-left: 6px;
}

article.card > footer > a{
    color: #A3A9AB;
}

.card__rating {
    position: absolute;
    right: 0;
    top: -25px;
    height: 25px;
    padding: 0 15px;
    color: #FFF;
    font-size: 11px;
    line-height: 25px;
    text-transform: uppercase;
    background-color: #ff7043;
    padding-top: 0px;
}


@-webkit-keyframes titleBlur {
    0% {
        opacity: 0.6;
        text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6); }

    100% {
        opacity: 1;
        text-shadow: 0px 5px 5px transparent; } }

@keyframes titleBlur {
    0% {
        opacity: 0.6;
        text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6); }

    100% {
        opacity: 1;
        text-shadow: 0px 5px 5px transparent; } }

@-webkit-keyframes subtitleBlur {
    0% {
        opacity: 0.6;
        text-shadow: 0px 5px 5px rgba(56, 196, 165, 0.6); }

    100% {
        opacity: 1;
        text-shadow: 0px 5px 5px rgba(56, 196, 165, 0); } }

@keyframes subtitleBlur {
    0% {
        opacity: 0.6;
        text-shadow: 0px 5px 5px rgba(56, 196, 165, 0.6); }

    100% {
        opacity: 1;
        text-shadow: 0px 5px 5px rgba(56, 196, 165, 0); } }
