﻿.chat-container {
    height: 50%;
    width: 50px;
    position: fixed;
    right: 10px;
    top: 25%;
    overflow: hidden;
    z-index: 1;
}

.chat-bubble {
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 10px;
    position: relative;
}

.chat-bubble.selected {
    filter: brightness(1.6);
}

.chat-bubble > img {
    width: 50px;
    border-radius: 50%;
}

.chat-cards > .card {
    height: 400px;
    top: 25%;
    width: 350px;
    position: fixed;
    right: -500px; /*80px when visible*/
}

.chat-cards > .card > .card-header {
    height: 50px;
    background: rgb(247, 247, 247);
    border-bottom: 1px solid grey;
    padding: 13px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.card i {
    color: rgb(255, 152, 0);
    cursor: pointer;
}

.chat-cards > .card > .card-body {
    position: relative;
    height: 350px;
}

.card-send-input {
    border-top: 1px solid grey;
    width: 100%;
    padding-left: 15px;
    position: absolute;
    bottom: 0;
    height: 40px;
}

.card-send-input > i {
    margin-top: 15px;
}
.card-messages {
    height: 290px;
}

.card-messages {
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px 15px;
}

.card-messages > ul > li.card-message {
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.85);
    padding: 3px;
    border-radius: 4px;
}

.card-messages > ul > li.msg-received {
    text-align: right;
    background-color: rgb(255, 152, 0)
}

.card-messages > ul > li.msg-sent {
    background-color: rgb(38, 166, 154);
}

.chat-bubble > div.tag {
    background: red;
    position: absolute;
    color: white;
    top: 0;
    right: 0;
    z-index: 2;
    padding: 0px 2px;
    border-radius: 5px;
}
/*
.chat-cards > .card.selected {
    right: 80px;
}*/
