﻿.container {
    margin-top: 40px;
}

.eval-card {
    padding: 20px;
}

.eval-userimage {
    border-radius: 5px;
    border: 3px solid white;
    padding: 0px !important;
    width: 100px !important;
}

.eval-name-date {
    margin-left: 10px !important;
}

.eval-name-date > h5 {
    margin-bottom: 0px;
}

.eval-name-date > span {
    color: rgb(151, 151, 151);
    text-decoration: underline;
}

.eval-rating {
    background: orange;
    border-radius: 50%;
    width: 50px !important;
    height: 50px !important;
    color: white;
    padding-left: 2px;
    font-size: 20px;
}

.eval-rating > i {
    font-size: 20px;
    color: yellow;
}

.eval-card > video {
    margin-bottom: 20px;
}

.eval-thumbnail-image {
    max-width: 320px;
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.slick-slide {
    height: auto;
}

.slick-prev:before, .slick-next:before {
    color: #444;
}

.slick-prev {
    left: -8px;
}

.slick-next {
    right: -8px;
}

.create-evaluation-video-placeholder {
    margin-bottom: 25px;
}

.create-evaluation-video-placeholder > img,
.create-evaluation-video-placeholder > div.eval-video-container > video {
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.create-evaluation-image-placeholder {
    margin-top: 15px;
}

.create-evaluation-image-placeholder > div > img {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.create-evaluation-image-placeholder > div {
    margin-top: 15px;
}

.create-eval-rating > div.stars {
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    color: #d8d822;
}

.eval-video-container {
    display: none;
    margin-left: auto;
    margin-right: auto;
}

.eval-video-container > i {
    cursor: pointer;
    position: absolute;
    color: rgba(255, 255, 255, 0.75);
    z-index: 1;
}

.file-elt {
    position: relative;
}

.file-elt > i {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 1;
}