﻿
#fsvs-body{
    margin-left: 50px;
}

.slide.fourth-slide {
    background: url("/Content/img/office-bg.jpg");
    background-size: cover;
}
/* TEAM */
.team-pic {
    border-radius: 50%;
    border: 5px solid white;
    margin-bottom: 20px;
}

.social-icon {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: white;
    padding-top: 14px;
    margin-bottom: 7px;
    cursor: pointer;
    background-color: #ff9800;
    transition: 0.4s;
}

.social-icon.icon-fb:hover {
    background-color: #46629e;
}
.social-icon.icon-twitter:hover {
    background-color: #1DA1F2;
}
.social-icon.icon-linkedin:hover {
    background-color: #007BB6;
}
.social-icon.icon-googlep {
    padding-left: 2px;
}

.social-icon.icon-googlep:hover {
    background-color: #D34836;
}

.slide.third-slide {
    background: url("/Content/img/coffee-bg.jpg");
    background-size: cover;
}
.slide.second-slide {
    background: url("/Content/img/golf-bg.jpg");
    background-size: cover;
}
h3.slide-title {
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: Pacifico;
    margin-bottom: 70px;
}

h3.slide-title::before {
    content: "";
    position: absolute;
    border-top: 3px solid white;
    width: 80px;
    height: 1px;
    margin-top: 50px;
    margin-left: -100px;
}

h3.slide-title::after {
    content: "";
    position: absolute;
    border-top: 3px solid white;
    width: 80px;
    height: 1px;
    margin-top: 50px;
    margin-left: 18px;
}


.icon-block {
    padding: 0 15px;
    text-align: justify;
    height: 300px;
}

.icon-block p {
    height: 100px
}

.icon-block .material-icons {
    font-size: inherit;
}
.icon-block h2 > i {
    background: #ff9800;
    border-radius: 50%;
    padding: 15px;
}

.slide.first-slide {
    background: url('/Content/img/city-bg.jpg')
}

.slide.first-slide .first-slide-title {
    font-family: Pacifico;
    font-size: 100px;
    color: white;
    margin-bottom: 50px;
    position: relative;
    bottom: 70px;
}

.slide.first-slide .first-slide-subtitle {
    color: white;
    font-size: 20px;
    position: relative;
    bottom: 90px;
}

.slide.first-slide .first-slide-subtitle::before {
    content: "";
    position: absolute;
    border-top: 3px solid white;
    width: 80px;
    height: 1px;
    margin-top: 15px;
    margin-left: -100px;
}

.slide.first-slide .first-slide-subtitle::after {
    content: "";
    position: absolute;
    border-top: 3px solid white;
    width: 80px;
    height: 1px;
    margin-top: 15px;
    margin-left: 18px;
}

.slide.first-slide .first-slide-logo {
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}