﻿.container {
    width: 100%;
    margin: 0;
    max-width: none;
}

.container > div.row {
    margin: 0;
}

.header {
    background: url(/Content/img/city-bg.jpg);
    height: 350px;
    position: relative;
}

.profile-image {
    padding-top: 50px;
}

.profile-image > img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid white;
}



.user-fullname {
    color: rgba(255, 255, 255, 0.85);
}

.follow-button {
    position: absolute;
    top: 15px;
    left: 15px;
    background: white;
    color: grey;
    display: flex;
    /*padding: 3px;*/
    border: 1px solid grey;
    border-radius: 7px;
}

.follow-text {
    display: inherit;
    cursor: pointer;
    padding: 3px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.follow-text:hover {
    background: orange;
}

.follow-text:hover > i, .follow-text:hover > div {
    color: white;
}

.follow-text > div {
    padding-left: 5px;
    margin-right: 5px;
}

.follow-text > i {
    padding-top: 3px;
    padding-left: 5px;
    color: orange;
}

.follow-number {
    border-left: 1px solid lightgrey;
    padding: 3px;
}

.tab a {
    color: orange !important;
}

.tab a.active {
    color: orange !important;
}

.tabs .indicator {
    background-color: orange !important;
}
#tab1 > div.row.card-personal-info i {
    color: orange;
}

#tab1 > div.row.card-personal-info {
    margin: 0.5rem 0 1rem 0;
    margin-left: 0px;
    margin-right: 0px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    position: relative;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
}

#personal-info-list {
    padding: 0;
    border-right: 1px solid lightgrey;
}

#personal-info-list > ul {
    margin: 0;
}

#personal-info-list > ul > li {
    padding: 10px;
    border-bottom: 1px solid lightgrey;
    cursor: pointer;
}

#personal-info-list > ul > li.selected {
    background: lightgrey;
    border-left: 3px solid orange;
}

#personal-info-list > ul > li:hover {
    background: lightgrey;
    border-left: 3px solid orange;
}

#personal-info-display {
    position: relative;
}

#personal-info-display > div {
    position: absolute;
    display: none;
}

#personal-info-display > div:first-child {
    display: initial;
}


div[data-display=li1] > div.row,
 div[data-display=li2] > div.row,
 div[data-display=li5] > div.row  {
    margin: 0;
    border: 1px solid lightgrey;
    margin-top: 10px;
    margin-right: 10px;
}

div[data-display=li1] > div.row > div,
div[data-display=li2] > div.row > form > div,
 div[data-display=li5] > div.row > div {
    border-bottom: 1px solid lightgrey;
    color: grey;
    padding: 10px;
    margin: 0;
}

div[data-display=li1] > div.row > div:last-child,
div[data-display=li2] > div.row > div:last-child,
div[data-display=li5] > div.row > div:last-child {
    border: none;
}
