﻿
#map {
   height: 100%;
   width: 100%;
   position: absolute;
   display: block;
   padding-left: 50px;
}

.cards {
    z-index: 1;
    position: relative;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.card > h5 > i{
    transform: rotate(90deg)
}