﻿.container {
    margin-top: 40px;
}

.container > div > ul > li > div.collapsible-header > div > a {
    margin-left: 20px;
}

.collapsible-body {
    padding: 20px;
}

div.criteria-stars > span {
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    color: yellow;
}
