﻿.container {
    width: 100%;
    margin: 0;
    max-width: none;
}

.container > div.row {
    margin: 0;
}

h3.section-title {
    text-align: center;
    color: black;
    font-size: 50px;
    font-family: Pacifico;
    margin-bottom: 70px;
}

h3.section-title::before {
    content: "";
    position: absolute;
    border-top: 3px solid black;
    width: 80px;
    height: 1px;
    margin-top: 50px;
    margin-left: -100px;
}

h3.section-title::after {
    content: "";
    position: absolute;
    border-top: 3px solid black;
    width: 80px;
    height: 1px;
    margin-top: 50px;
    margin-left: 18px;
}

.witness-card-header {
    height: 500px;
    position: relative;
    background: url(/Content/img/city-bg.jpg);
    margin: 0;
}

.witness-card-header > .witness-card-subscribe {
    position: absolute;
    top: 15px;
    left: 15px;
    background: white;
    color: grey;
    display: inherit;
    /*padding: 3px;*/
    border: 1px solid grey;
    border-radius: 7px;
}

div.witness-card-header > div.witness-card-subscribe > div.subscribe-btn > i {
    color: orange;
}

div.witness-card-header > div.witness-card-subscribe > div.subscribe-btn > div {
    padding-left: 5px;
    margin-right: 5px;
}

div.witness-card-header > div.witness-card-subscribe > div.subscribe-btn:hover {
    background: orange;
}

div.witness-card-header > div.witness-card-subscribe > div.subscribe-btn:hover > div {
    color: white;
}

div.witness-card-header > div.witness-card-subscribe > div.subscribe-btn:hover > i {
    color: white;
}

div.witness-card-header > div.witness-card-subscribe > div.subscribe-btn {
    display: inherit;
    cursor: pointer;
    padding: 3px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

div.witness-card-header > div.witness-card-subscribe > div.number {
    border-left: 1px solid lightgrey;
    padding: 3px;
}

.witness-card-header > div:nth-child(2) {
    margin-left: auto;
    margin-right: auto;
}

.witness-card-header img.witness-card-logo {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    border-radius: 50%;
    padding: 10px;
}

.witness-card-header .witness-card-title {
    font-size: 50px;
    color: rgba(255, 255, 255, 0.9);
}

.witness-card-header .witness-card-rating {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: yellow;
    font-size: 30px
}

.witness-card-infos > ul.card {
    
    margin: 20px;

}

.witness-card-infos > ul.card > li {
    padding: 10px;
    border-bottom: 1px solid lightgrey;
}

.witness-card-infos > ul.card > li:last-child {
    border: none;
}

.witness-card-infos > ul.card > li > label {
    font-size: 17px;
}

.witness-card-infos > ul.card > li > label > i {
    margin-right: 10px;
}

#map {
    height: 500px;
    width: 100%;
}